# Unifies the Git identities used by the author across this history.
Wallace Ferreira de Abreu <aceaswall@gmail.com> <aceaswall@gmail..com>
Wallace Ferreira de Abreu <aceaswall@gmail.com> wallasace <aceaswall@gmail.com>
Wallace Ferreira de Abreu <aceaswall@gmail.com> wallasace <aceaswall@gmail..com>
Wallace Ferreira de Abreu <aceaswall@gmail.com> Producao <aceaswall@gmail.com>
